/* placeholder for spacing while page is being developed */
.header-elements {
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    
  }

  .enter-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  